In [5]:
import pandas as pd
import json
from src.config import RAW_DATA_DIR, PROCESSED_DATA_DIR

In [74]:
# On charge le fichier des pilotes
with open(RAW_DATA_DIR / "drivers.json", "r", encoding="utf-8") as f:
    raw_drivers = json.load(f)

# On transforme en DataFrame
df_drivers = pd.DataFrame(raw_drivers)

# On regarde les 5 premieres lignes
df_drivers.head(10)

,driverId,url,givenName,familyName,dateOfBirth,nationality,permanentNumber,code
0,abate,http://en.wikipedia.org/wiki/Carlo_Mario_Abate,Carlo,Abate,1932-07-10,Italian,NaN,NaN
1,abecassis,http://en.wikipedia.org/wiki/George_Abecassis,George,Abecassis,1913-03-21,British,NaN,NaN
2,acheson,http://en.wikipedia.org/wiki/Kenny_Acheson,Kenny,Acheson,1957-11-27,British,NaN,NaN
3,adams,http://en.wikipedia.org/wiki/Philippe_Adams,Philippe,Adams,1969-11-19,Belgian,NaN,NaN
4,ader,http://en.wikipedia.org/wiki/Walt_Ader,Walt,Ader,1913-12-15,American,NaN,NaN
5,adolff,http://en.wikipedia.org/wiki/Kurt_Adolff,Kurt,Adolff,1921-11-05,German,NaN,NaN
6,agabashian,http://en.wikipedia.org/wiki/Fred_Agabashian,Fred,Agabashian,1913-08-21,American,NaN,NaN
7,ahrens,"http://en.wikipedia.org/wiki/Kurt_Ahrens,_Jr.",Kurt,Ahrens,1940-04-19,German,NaN,NaN
8,aitken,http://en.wikipedia.org/wiki/Jack_Aitken,Jack,Aitken,1995-09-23,British,89,AIT
9,albers,http://en.wikipedia.org/wiki/Christijan_Albers,Christijan,Albers,1979-04-16,Dutch,NaN,ALB

In [75]:
df_drivers.describe()

,driverId,url,givenName,familyName,dateOfBirth,nationality,permanentNumber,code
count,874,864,874,874,865,865,62,107
unique,874,864,488,812,847,40,46,101
top,abate,http://en.wikipedia.org/wiki/Carlo_Mario_Abate,John,Taylor,1946-12-12,British,6,ALB
freq,1,1,14,5,2,167,3,2

In [76]:
df_drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874 entries, 0 to 873
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   driverId         874 non-null    object
 1   url              864 non-null    object
 2   givenName        874 non-null    object
 3   familyName       874 non-null    object
 4   dateOfBirth      865 non-null    object
 5   nationality      865 non-null    object
 6   permanentNumber  62 non-null     object
 7   code             107 non-null    object
dtypes: object(8)
memory usage: 54.8+ KB

In [77]:
duplicates = df_drivers[df_drivers.duplicated('driverId', keep=False)]
print(f"Nombre de lignes en doublon : {len(duplicates)}")

Nombre de lignes en doublon : 0

In [78]:
df_drivers['fullName'] = df_drivers['givenName']+ " " +df_drivers['familyName']
df_drivers.drop(columns=['url', 'givenName','familyName'], inplace=True)

df_drivers['driverId'].nunique()

874

In [79]:
df_drivers['dateOfBirth'] = pd.to_datetime(df_drivers['dateOfBirth'])

In [80]:
df_drivers.head(10)

     driverId dateOfBirth nationality permanentNumber code           fullName
0       abate  1932-07-10     Italian             NaN  NaN        Carlo Abate
1   abecassis  1913-03-21     British             NaN  NaN   George Abecassis
2     acheson  1957-11-27     British             NaN  NaN      Kenny Acheson
3       adams  1969-11-19     Belgian             NaN  NaN     Philippe Adams
4        ader  1913-12-15    American             NaN  NaN          Walt Ader
5      adolff  1921-11-05      German             NaN  NaN        Kurt Adolff
6  agabashian  1913-08-21    American             NaN  NaN    Fred Agabashian
7      ahrens  1940-04-19      German             NaN  NaN        Kurt Ahrens
8      aitken  1995-09-23     British              89  AIT        Jack Aitken
9      albers  1979-04-16       Dutch             NaN  ALB  Christijan Albers

In [82]:
# On s'assure que le dossier existe (via votre config)
PROCESSED_DATA_DIR.mkdir(parents=True, exist_ok=True)

# Sauvegarde en Parquet
df_drivers.to_parquet(PROCESSED_DATA_DIR / "drivers.parquet", index=False)

In [91]:
with open(RAW_DATA_DIR / "circuits.json", "r", encoding="utf-8") as f:
    raw_circuits = json.load(f)

df_circuits =  pd.json_normalize(raw_circuits, sep='_')

df_circuits.head(10)

,circuitId,url,circuitName,Location_lat,Location_long,Location_locality,Location_country
0,adelaide,https://en.wikipedia.org/wiki/Adelaide_Street_...,Adelaide Street Circuit,-34.9272,138.617,Adelaide,Australia
1,ain-diab,https://en.wikipedia.org/wiki/Ain-Diab_Circuit,Ain Diab,33.5786,-7.6875,Casablanca,Morocco
2,aintree,https://en.wikipedia.org/wiki/Aintree_Motor_Ra...,Aintree,53.4769,-2.94056,Liverpool,UK
3,albert_park,https://en.wikipedia.org/wiki/Albert_Park_Circuit,Albert Park Grand Prix Circuit,-37.8497,144.968,Melbourne,Australia
4,americas,https://en.wikipedia.org/wiki/Circuit_of_the_A...,Circuit of the Americas,30.1328,-97.6411,Austin,USA
5,anderstorp,https://en.wikipedia.org/wiki/Anderstorp_Raceway,Scandinavian Raceway,57.2653,13.6042,Anderstorp,Sweden
6,avus,https://en.wikipedia.org/wiki/AVUS,AVUS,52.4806,13.2514,Berlin,Germany
7,bahrain,https://en.wikipedia.org/wiki/Bahrain_Internat...,Bahrain International Circuit,26.0325,50.5106,Sakhir,Bahrain
8,baku,https://en.wikipedia.org/wiki/Baku_City_Circuit,Baku City Circuit,40.3725,49.8533,Baku,Azerbaijan
9,boavista,https://en.wikipedia.org/wiki/Circuito_da_Boav...,Circuito da Boavista,41.1705,-8.67325,Oporto,Portugal

In [ ]:
def process_results():

    all_files = glob.glob(str(RAW_DATA_DIR / "results" / "results_*.json"))
    
    all_rows = []
    
    for file_path in all_files:
        with open(file_path, "r", encoding="utf-8") as f:
            races = json.load(f)
            
        for race in races:
            # Extraction des informations de base du Grand Prix
            race_info = {
                'season': race.get('season'),
                'round': race.get('round'),
                'raceName': race.get('raceName'),
                'date': race.get('date'),
                'circuitId': race.get('Circuit', {}).get('circuitId')
            }
            
            # Pour chaque pilote dans ce Grand Prix
            results = race.get('Results', [])
            for res in results:
                # On fusionne les infos du GP avec les perfs du pilote
                row = {**race_info, **res}
                
                # Aplatissement manuel des dictionnaires Driver et Constructor
                if 'Driver' in row:
                    row['driverId'] = row['Driver'].get('driverId')
                    row['driver_fullname'] = f"{row['Driver'].get('givenName')} {row['Driver'].get('familyName')}"
                    del row['Driver']
                
                if 'Constructor' in row:
                    row['constructorId'] = row['Constructor'].get('constructorId')
                    row['constructor_name'] = row['Constructor'].get('name')
                    del row['Constructor']
                
                # Nettoyage des dictionnaires de temps (on ne garde que le texte simple)
                if 'Time' in row and isinstance(row['Time'], dict):
                    row['time_millis'] = row['Time'].get('millis')
                    row['time_text'] = row['Time'].get('time')
                    del row['Time']
                
                if 'FastestLap' in row:
                    # On pourrait extraire plus ici, mais on simplifie pour le moment
                    row['fastest_lap_rank'] = row['FastestLap'].get('rank')
                    row['fastest_lap_time'] = row['FastestLap'].get('Time', {}).get('time')
                    del row['FastestLap']
                    
                all_rows.append(row)

    df = pd.DataFrame(all_rows)
    
    # Nettoyage final des types
    df['season'] = df['season'].astype(int)
    df['round'] = df['round'].astype(int)
    df['points'] = df['points'].astype(float)
    df['position'] = pd.to_numeric(df['position'], errors='coerce')
    df['date'] = pd.to_datetime(df['date'])
    
    output_path = PROCESSED_DATA_DIR / "results.parquet"
    df.to_parquet(output_path, index=False)
    print(f"OK : {len(df)} lignes de résultats fusionnées dans {output_path}")
    return df